.dark-mode {
  background-color: #fff !important;
  border: 1px solid #000 !important;
  color: #000 !important;
}

.theme-colors {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
    